/*
body {
  margin: 0;
  font-family: sans-serif;
  transition: background 0.3s, color 0.3s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background: #eee;
  flex-wrap: wrap;
}
*/
.lector-book {
  font-weight: bold;
  color: #f8b400;
  cursor: pointer;
}
.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.controls select,
.controls input,
.controls button {
  padding: 0.5em;
  font-size: 1em;
}

.light-mode {
  background: #fff;
  color: #000;
}

.dark-mode {
  background: #121212;
  color: #eee;
}
/* Canvas en modo claro */
.light-mode canvas {
  background-color: #fff;
  border: 1px solid #ccc;
}

/* Canvas en modo oscuro */
.dark-mode canvas {
  background-color: #1e1e1e;
  border: 1px solid #444;
}
.dark-mode canvas {
  filter: invert(1) hue-rotate(180deg) brightness(0.9) contrast(1.1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

canvas {
  border: 1px solid #ccc;
  margin-bottom: 1em;
}

.pdf-controls {
  display: flex;
  gap: 1em;
  align-items: center;
}


